[2014-11-21 04:57] lwasser opened #1 "h5 read throwing error"
I the HDF5 code,  the following error occurs...should followup with ted or look into

http://stackoverflow.com/questions/23098355/h5read-crashes-with-large-strings

[code]

[2014-11-21 04:57] lwasser opened #2 "Need to finish cleaning up the HDF5 code!"
Once this code is clean it's time to test!!!

[2014-11-22 06:27] lwasser opened #4 "Finish cleaning up intro to R materials"
Finish cleaning up the first R intro materials.

[2014-11-22 06:27] lwasser opened #5 "Add spectrometer HDF5 activity to the files."

[2014-11-22 14:25] lwasser opened #6 "Adjust category and tag structure"
informatics and programming

Remote sensing science

Gis Geographic information systems

Tags
Lidar
Imaging spectroscopy
Hdf 5
Ecological analysis
R programming
Python

[2014-11-22 19:12] #6 closed, assigned to nobody

[2014-11-22 19:14] lwasser opened #7 "Add links to categories and tags / build out pages with some seed text"
need to figure out how to link to the tags using the slug text rather than the tag itself which might have spaces.

Then need to add a few sentences of text to each tag and category page as this could optimize SEO for these pages? need to look into SEO for GH pages.

[2014-11-23 07:19] lwasser opened #8 "Lidar change detection"
get in touch with Tristan about Boulder data. It would be cool to put a change detection series together since he's done the work already

[2014-11-23 07:21] lwasser opened #9 "Full waveform vs discrete return. Get ppt info up"

[2014-12-09 06:28] #5 closed, assigned to nobody

[2014-12-09 06:28] #1 closed, assigned to nobody

[2014-12-09 06:29] lwasser opened #10 "Organismal Data - code"
Working with Sarah E and Kate on this.

[2015-04-29 19:13] lwasser opened #12 "Add plotly code (in the R script) to the "chm lesson""

[2015-05-12 18:56] fluby opened #14 "minor fixes needed for ~/R/Raster-Data-In-R/"
[ ] - correct San Joachim to San Joaquin
 [ ] - example output for 'DEM <- raster("DigitalTerrainModel/SJER2013_DTM.tif")' looks like it is actually for the DTMHill version of the file

[2015-05-12 19:15] lwasser opened #15 "Add some descriptive text on setting breaks / color maps for rasters"
We added a section on applying color maps with specific break points when rendering rasters in R. we should add some background on what a break is and how a color map works. There's got to be something out there on this!

http://neondataskills.org/Data-Workshops/NEON-lidar-Rasters-R/

[2015-05-12 20:30] chrlaney commented on #15
It's also not clear what you're trying to show with this section:
brk <- c(250, 300, 350, 400,450,500)
image(DEM, zlim=c(250,300), col=col, breaks=brk)

I think the range of 250-500 in brk is overriding zlim = c(250,300).
What do you want the users to get out of this part?

Also, I think you might be able to use the image.plot() function in the fields package to generate labels for each break. Hav

[2015-05-12 20:36] lwasser commented on #15
OOoh – you’re right. I added that quickly.

There are two things to learn in that section.

1.       If you want you can limit how much of the data are plotted. This is good if you have crazy outlier data or you just have some other goals.

2.       You can also (or instead) establish breaks where you can plot data within specific range values.

I believe that Natalie is working on some background

[2015-05-12 21:23] lwasser commented on #14
hey @fluby thanks!! fixed the spelling.

Gosh the DTM worked out just fine for me. are the values between 0 and 1 when you import it? did you download the most recent version of the data (not that - that should matter) . i can look at it tomorrow but it seems ok to me in both R and QGIS. does it look like a hillshade to you because it's grey or because of the values? thanks for being on top of thi

[2015-05-14 14:16] fluby commented on #14
Apologies for the confusion, Leah! I just meant that this example output looks like it's for a different file than the example intended:
class       : RasterLayer
dimensions  : 5060, 4299, 21752940  (nrow, ncol, ncell)
resolution  : 1, 1  (x, y)
extent      : 254570, 258869, 4107302, 4112362  (xmin, xmax, ymin, ymax)
coord. ref. : +proj=utm +zone=11 +datum=WGS84 +units=m +no_defs +ellps=WGS84 +tow

[2015-05-14 14:32] lwasser commented on #14
OOps. i totally missed that. great catch - thanks @fluby . fixed in commit:

https://github.com/lwasser/NEON-Data-Skills/commit/5d903e2cad6b851320ae2cc0d38f1a2a4749c1f3
Cheers! :)

[2015-05-14 14:32] #14 closed

[2015-05-14 14:33] #2 closed

[2015-05-14 14:33] lwasser commented on #4
Can point to software carpentry materials - closing

[2015-05-14 14:33] #4 closed

[2015-05-14 14:35] lwasser commented on #15
I think the breaks should be more clear. do we need to clarify producing color ramps or vector lists of colors to apply to plots?

[2015-05-14 14:35] lwasser commented on #12
This has been done!

[2015-05-14 14:35] #12 closed

[2015-05-14 14:35] lwasser opened #19 "Take bubble map code and turn into lesson!"

[2015-05-15 01:55] lwasser opened #20 "Add RGDAL to NIS workshop"
Per dave moore:
The rgdal package is required for this workshop
http://neondataskills.org/HDF5/Imaging-Spectroscopy-HDF5-In-R/

[2015-05-16 05:50] lwasser opened #21 "Add spatial do to lidar raster tutorial"

[2015-05-19 15:51] lwasser opened #22 "Add Actual precip data to RHDF5 lesson"
Rather than making up some data - it would be good to import a csv and add it to the H5 file.

Also add a "create HDF5 lesson" part one that is very simple.
1. import a csv.
2. create the H5 file
3. add the csv to the H5 file
4. add some metadata to the H5 file

Done.

Have the looping be optional part 2. it's way too complicated as written

[2015-05-19 19:02] lwasser opened #23 "Add RHS approach to DPLYR"
Just one minor suggestion for the DPLYR code: you can perhaps show a second way of using pipes with the right-hand-symbol (RHS) e.g. insitu_inCentroid %>% group_by(plotid) %>% summarise(max = max(stemheight)) -> insitu_maxStemHeight

http://neondataskills.org/lidar-data/lidar-data-rasters-in-R/

[2015-05-20 21:08] lwasser opened #28 "When the site is forked, the CNAM and config files are copied"
We need a way to ignore changes to those files so i can keep them current in my repo but they aren't pushed back with changes from other repos

[2015-05-20 21:15] lwasser commented on #28
Issue one -- when a file, like CNAME is changed, git will try to add the changes to the push. if you ignore it AFTER you've added it to the tracking history, it will still be tracked. You have to delete the cache for the file

git rm --cached CNAME
Git commit
Git push

BUT how does that work across repos?

[2015-05-25 23:33] fluby opened #30 "HDFView lesson issues with hypersctral image"
I am not getting the hyperspectral image to display properly in HDFView. I am just seeing a black screen.
I am wondering if it is related to this:
on http://neondataskills.org/HDF5/Exploring-Data-HDFView/, it states:
Under height, make sure dim 1 is selected.
Under width, make sure dim 3 is selected.

However, there are only dim 0-dim2 available in my drop down menus in either HDF View 2.10 or 2.1

[2015-05-25 23:36] lwasser commented on #30
oops! that's a mistake. the HDF file uses 0-based indexing so it should be dimensions 1 and 2 which would be 2 and 3 in a 1-based indexing world. that's a mistake!  Adding the URL so i can fix it :) great catch and thank you! https://github.com/lwasser/NEON-Data-Skills/blob/gh-pages/_posts/HDF5/2014-11-05-Exploring-HDF5-in-HDFView-HDF5.md

[2015-05-25 23:44] fluby commented on #30
Thanks, Leah - now it's working!  Also, I think adding an image to the lesson page of what the hyperspectral image should look like in HDFView would be handy.

[2015-05-26 00:39] fluby opened #31 "R markdown Chunk names"
Hey Leah,
I noticed in Intro-HDF5-R.Rmd that the r chunks don't have descriptive names. These help one navigate the chunks easily in the drop-down menus in Rstudio. Did you intentionally omit due to capability issues with the website (wild guess)? If you like I can add in some names into the Rmd file and send a pull request. Just let me know.

Thanks!
Kate

[2015-05-26 00:42] lwasser commented on #31
Hi -- PR away. I'm just learning RMD and i ended up adding them to one of the activities because i noticed when i rendered to .md it named the files based upon the chunk name :) but i didn't know to do it until then. Thanks!!

[2015-05-26 00:42] lwasser commented on #31
oh and by pr i meant - pull request away :+1:

[2015-05-26 02:00] fluby opened #32 "Minor comments for Intro-To-HDF5-In-R"
* correct rhfd5 in Goals/Objectives to rhdf5
* where do we find the D17_2013_vegStr.csv file referenced in the Challenge?

[2015-05-26 02:06] lwasser commented on #32
hey i can adjust these. i just uploaded the veg str file

http://neondataskills.org/data/D17_2013_vegStr.zip

i'll add a link to it in the exercise and fix the above as well :) thanks for catching all of this!

[2015-05-26 02:08] lwasser commented on #32
ok i see what happened. i have'nt fully transitioned the intro to HDF5 lesson to RMD. when you're done with your edits and you submit the PR, i'll go ahead and reformat the entire RMD to be the actual lesson content :) then i'll fix the above! :) thanks kate!

[2015-05-26 23:52] lwasser opened #34 "Fix text on _posts/HDF5/2014-11-05-Activity-HDFView-HDF5.md"
i started to describe reflected light in this lesson and stopped mid sentence. per @natalie-robinson comment in a PR

[2015-05-26 23:52] lwasser commented on #31
Thanks! i'm closing this issue. appreciate the help and feedback!

[2015-05-26 23:52] #31 closed

[2015-05-27 04:12] scelmendorf opened #35 "HDF-5 temp data - is the datetime conversion wrong?"
Looking at the temp data figure, it seems like the min temp is reached each day ~noon?
I think timezone issues here.
1. tz EST is not in fact eastern standard time.  See:
http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
What we want for a FL site is in fact called 'America/New_York'
2. Data is stored as UTC (GMT)
3. Then we need to convert it local (eastern) time to make the diurnal flu

[2015-05-27 04:29] lwasser commented on #35
heya! thanks :) please tell me -- did the plot turn out different for you? i tried that fix and the plot still looks exactly the same. this could be my misunderstanding of ggplot as well. thoughts?

[2015-05-27 04:32] scelmendorf commented on #35
Yes.  Peak temp ~5pm, which I think is biologically right?  I’m trying to paste it here.  It probably will not render on git, but I can email it to you.

[cid:image001.png@01D09803.DC915420]

From: Leah Wasser [mailto:notifications@github.com]
Sent: Tuesday, May 26, 2015 10:30 PM
To: lwasser/NEON-Data-Skills
Cc: Sarah Elmendorf
Subject: Re: [NEON-Data-Skills] HDF-5 temp data - is the datetime conv

[2015-05-27 04:34] lwasser commented on #35
that would be great -- thanks! i might be running it incorrectly. i totally agree - the numbers don't make sense and i never really focused enough on that sadly as i've been so focused on the code. i just cant seem to implement your changes. thanks @scelmendorf

[2015-05-27 04:38] scelmendorf commented on #35
Try re-reading in the hdf5 file, then setting the date as UTC and converting. Through trial and erro (I made the exact same plot twice too ☺) I found that once I set the date wrong the as.POSIX etc didn’t change anything (seemingly you can’t as.posix something that has already been as posixed?)

f <- "NEON_TowerDataD3_D10.hdf5"
# View structure of file
h5ls(f)

temp <- h5read(f,"/Domain_03/OSBS/mi

[2015-05-27 04:39] lwasser commented on #35
ahhh ok i got it :) hey thanks! so do you think it makes sense for max temp to fall in the late afternoon like that? isnt it normally around 3 or something? i suppose florida in an exposed spot might be different?

[2015-05-27 04:41] scelmendorf commented on #35
Google suggests yes this makes sense:
https://www.google.com/search?q=diurnal+temperature+curve&es_sm=93&tbm=isch&tbo=u&source=univ&sa=X&ei=tUplVZjfGMvisAW_0oLgBA&ved=0CDIQsAQ&biw=1455&bih=705#imgrc=QbXX8JV8aTBrCM%253A%3BPiUwWdmJl9pBLM%3Bhttp%253A%252F%252Fweb.gccaz.edu%252F~lnewman%252Fgph111%252Ftopic_units%252Ftemperature1%252Ftemperature%252Fheating-curve.jpg%3Bhttp%253A%252F%252Fweb.gccaz.edu

[2015-05-27 04:41] lwasser commented on #35
yea -- that's it!! thank you :) i'll update tomorrow probably. i have to fix one more thing on the back end. i'm moving to RMD files so i am writing this script that knits and purls and such to files that git can play nicely with. i have to do a quick conversion on this file!

i'll make the changes and post tomorrow - thank you for catching this. what a good catch.

[2015-05-27 04:42] lwasser commented on #35
hahaha look what you have just allowed us to create- a LEARNING MOMENT for our learners. hmmmm...

can i use your google reference?? brilliant.
Take away  - be careful with dates. ;)
leah

[2015-05-27 04:42] lwasser commented on #35
oh right and a learning moment for yours truly as well :+1:

[2015-05-27 04:44] scelmendorf commented on #35
Also, many years of graduate education in the central valley of California (hot), including some months of very Hot and very Pregnant and Very miserable with no AC at home suggest 5pm is really – always -- the worst time of day.  You can learn a lot in grad school.

From: Leah Wasser [mailto:notifications@github.com]
Sent: Tuesday, May 26, 2015 10:42 PM
To: lwasser/NEON-Data-Skills
Cc: Sarah Elmen

[2015-05-27 04:58] lwasser commented on #35
oh my!
ok -- i'm signing off as i'm tired from too much manual labor today (house work). i'll dig in again tomorrow and see how far i can get. at the least, i'll fix the code. i'm not sure if folks have already downloaded the data or not. i might have a few questions for you tomorrow if you don't mind!
thanks again!

[2015-05-27 05:27] scelmendorf commented on #35
- more intuitive code suggestion to achieve the same result (since we think in UTC and eastern):
[code]
- Another idea might be in the exercise to create the code to specify the timezone formatting in the hdf5 metadata.  So were one to read the metadata you’d know that it’s reported in UTC, but the local time is US/Eastern, giving you all the smartipants tools you’d need to convert it.

- And last

[2015-05-27 15:42] natalie-robinson commented on #32
Hey @lwasser  - the last HDF5 figure in the 'about' lesson is kinda repetitive and I didn't really see what it was trying to illustrate. Just a thought.

Also - It is easy to miss downloading the hyperspectral data at the beginning of the viewer lesson, can you put that link in a big black box that matches the one for the sensor data?

[2015-05-27 17:32] lwasser commented on #32
hey guys -- if we can keep issues separate that would be super awesome since i use each issue to track changes!  so if you find a new issue - please submit it as a new issue.
I've added a link to the str data here via a green button:

http://neondataskills.org/coding-and-informatics/Intro-HDF5-R/

i've added a button for the second dataset in the viewer activity
http://neondataskills.org/HDF5/Expl

[2015-05-27 17:41] lwasser opened #36 "Add images to the Lidar raster lesson that colin created."

[2015-05-27 18:15] #32 closed

[2015-05-27 18:58] lwasser commented on #35
ok - @scelmendorf  - here's a first stab. i haven't pushed this yet. Can yo uplease read this and let me know  if it makes sense. i will be honest - i don't fully understand what UTC is. It's time without daylight savings. it is like a global clock? i want to explain it right!

Also i noticed we have two types of plotting. should i just use GGPLOT for all plots??
thanks for your feedback on this :

[2015-05-27 19:17] scelmendorf commented on #35
Yeah – more or less, UTC is like the goldstandard for times which allow us to represent publish all our sensor data on the same ’clock’ without worrying about location and/or daylight savings.  It’s handy because the utc time is the same everywhere on earth, unlike local time.  But for some analyses, it’s easier to work in local time.

I would suggestion you change this line:

`temp$date <- as.POS

[2015-05-28 02:59] lwasser commented on #35
Hey thanks -- i have a few more tweaks to the lesson but this is all making sense :) fantastic catch on that! how did we all miss it for the past year?!! :)

One last question. where are you getting the list of options for time zones. I totally get how it works now AND if you use

attributes(temp$date)$tzone <- "US/Eastern"

[2015-05-28 03:02] lwasser commented on #35
i found this too..

[2015-05-28 03:04] scelmendorf commented on #35
I found them here:
http://en.wikipedia.org/wiki/List_of_tz_database_time_zones

not sure which ones R knows about, I would have assumed all the wikipedia ones but maybe not?

[2015-05-28 03:08] chrlaney commented on #35
It's been a while since I've looked at this in detail, but https://stat.ethz.ch/R-manual/R-devel/library/base/html/timezones.html has good info.

[2015-05-28 03:16] lwasser commented on #35
Thanks guys! I think my thick brain is finally wrapping itself around this concept and absorbing :)
much appreciated!!! I think it will be interesting to see how folks respond to this time series activity tomorrow. It really builds in complexity. it will be interesting to see how it's received and where folks get hung up!

[2015-05-28 03:40] lwasser commented on #35
ahhh -- i found a few more opportunities to tweak the code, simplify significantly and highlight the programmatic power of HDF5 via embedded metadata! it will involve actually modifying the file structure so i won't do it tomorrow BUT.. would you guys be up for looking at it with me sometime before august and just coming up with a few general conventions for teaching purposes? it doesn't have to b

[2015-05-28 05:52] chrlaney commented on #35
Sorry about sending you a url you already posted, leah - didn't see that! :)

[2015-06-02 22:14] lwasser commented on #35
Hey @scelmendorf i wanted to clear this up before moving forward

if you go to the documentation

https://stat.ethz.ch/R-manual/R-devel/library/base/html/as.POSIXlt.html
it says:
tz
A time zone specification to be used for the conversion, if one is required. System-specific (see time zones), but "" is the current time zone, and "GMT" is UTC (Universal Time, Coordinated). Invalid values are most co

[2015-06-02 22:16] lwasser opened #37 "Fix formatting on DPLYR Lessons and clean up title"
feedback from Sarah E

On the website there is some weird formatting stuff going on, with ?? showing up where it shouldn’t, example if you’??re dealing with large data it’??s
http://neondataskills.org/R/GREPL-Filter-Piping-in-DPLYR-Using-R/

-change title of the dplyr lesson to since it's largely not about grepl?  Maybe just leaving it as filter-piping-in-DPLYR-Using-R.

[2015-06-22 18:12] scelmendorf opened #38 "hyperspectral lesson - some math weirdness in the example"
Full Width Half Max (FWHM)

The full width half max (FWHM) will also often be reported in a multi or hyperspectral dataset. This value represents the spread of the band around that center point.

The Full Width Half Max (FWHM) of a band relates to the distance in nanometers between the band center and the edge of the band. In this case, the FWHM for Band C is 2.5 nm.

[2015-06-22 18:14] scelmendorf commented on #38
Sorry, it submitted before I finished writing.  Anyhow, your example shows a band that is blown up (to the right), that goes from 790 to 790 (though not in the blown-up version), and then says the fhwm is 2.5.  I think a labeling error, but it's confusing.

[2015-06-23 03:06] scelmendorf opened #39 "downloading files prior to the workshop - NEON-HDF5-HyperspectralImagery-In-R/"
Very minor issue, but it's a little weird how some of the files to download are in the pre-workshop materials/prep area, and others are inside the individual half hour lessons.  Maybe put all up front or all inside the lessons?  I think people could get confused thinking they already downloaded the stuff they need.  Or didn't.

[2015-06-23 03:28] scelmendorf commented on #39
And another minor issue, but you have it called 'spatialInfo' in the code but 'spatial info' in the explanatory text.  If you have the patience, I'd rename the map info to mapInfo, and then change the text to match. (i heart camelCase)
Either way, consistency is nice if possible

[2015-06-23 03:32] scelmendorf commented on #39
Continuing on the very picky thread - you have a typo here:
'Metadata and importa concepts associated with multi-band (multi and hyperspectral) rasters'

[2015-06-23 03:50] scelmendorf commented on #39
More minor wording comments  - can you change this:
'Remember that the metadata for the Reflectance dataset designated 15,000 as data ignore value. Thus, let’s set all pixels with a value > 14,999 to NA (no value). If we do this, R won’t try to render these pixels.'
 to
'Thus, let’s set all pixels with a value = 15000 to NA'

because that matches what the code does?

[2015-06-23 03:52] scelmendorf commented on #39
Also, the code for the above needs a 2nd equal sign, should be
b342[b342 == 15000] <- NA
to make it into a logical for the subset/replace

[2015-06-23 03:55] scelmendorf commented on #39
Typo here:
 'For example, in the case of ur data'

[2015-06-23 04:14] scelmendorf commented on #39
So - this seems confusing to me:
#We need to transpose x and y values in order for our final image to plot properly
b34<-t(b34)
image(log(b34))

Because transposing it still doesn't make it plot properly.  Should we leave this out and get to it later?

Also - I think this is not quite right:
 Data Tip: Transpose in HDF5 view, notice that there are three data dimensions for this file: Bands x Rows

[2015-06-23 04:24] scelmendorf commented on #39
How do you know this?  'The lower left hand corner is located at mapInfo[4:5]'??

[2015-06-23 22:41] lwasser commented on #39
Hey @scelmendorf i'll take a closer look at these things tomorrow or this evening depending. Per the downloads i tried to put the data in there twice. Each individual lesson should be stand alone so users can download the data there. but the workshops should have it all in the workshop page. Did i miss something on the workshop page?? Thanks!!

[2015-06-24 19:22] lwasser commented on #38
hey - is this the page that you're looking at?
http://neondataskills.org/HDF5/About-Hyperspectral-Remote-Sensing-Data/#full-width-half-max-fwhm

[2015-06-24 19:24] lwasser commented on #39
hey @scelmendorf can you please provide an example of where the data were in one or the other but not both?  http://neondataskills.org/Data-Workshops/NEON-HDF5-HyperspectralImagery-In-R/ there is one file here to download and it also appears on each lesson page. But if it's missing somewhere i can add it. i have a lot of pages on this site. thank you!

[2015-06-24 19:25] lwasser commented on #39
Also - did you fix some of the things above in your PR ?

[2015-06-24 19:43] scelmendorf commented on #39
Sorry! I didn't fix anything in the text, just the code (because I spaced on which you wanted us to fix), so I put all the changes to the code in the pull request and all the comments on text in the issue.

[2015-06-24 19:46] scelmendorf commented on #38
Yes, that is the page

[2015-06-24 22:59] lwasser commented on #39
ok cool -- i think i've gotten most of it. I think the transpose is confusing but it's right. The data come in column row and wavelength. Some programs (like IDL) read in that order i can only imagine the H5 tools read in that order but i need to followup.

The raster different is a raster starts most often in the LOWER LEFT hand corner whereas R reads from the top down (versus bottom up). it's su

[2015-06-24 22:59] #39 closed

[2015-06-26 14:08] natalie-robinson opened #42 "A few thoughts on the hyperspectral lesson"
Hi @lwasser

I had just a few thoughts on this lesson, take them or leave them:

- [ ] Would it be worth show another way to set a raster extent (e.g., show setting the extent with and without having to scale the data)?

- [ ] Maybe we could try to bring it all together by saying that you are going to have to do this every time you try to look at a dataset, so you should always start by getting th

[2015-07-27 17:01] natalie-robinson opened #43 "Comments on newest versions or lessons for ESA"
Raster Data in R:
- [ ] How difficult would it be to take the NLCD class graphic at the beginning and add a blowup of one small region that shows the actual grid at finer scale (e.g., exampleGraphic.ppt emailed)?
- [ ] Typo right after UTM graphic: You can also view the rasters min and max values and the range of values _containes_ within the pixels.

Create  Canopy Height Model:
- [ ] Good link t

[2015-08-03 22:42] lwasser opened #45 "set min max"
If a raster doesn't show the min max values when you type in the object name, you can force it to compute

DEM <- setMinMax(DEM)

add this to the raster lessons.

[2015-10-28 22:18] mjones01 opened #50 "Cheatsheets"
There is a duplicated cheatsheet page.

[2015-10-30 18:11] lwasser commented on #50
refer to : https://github.com/lwasser/NEON-Data-Skills/pull/49/commits

[2015-12-08 18:07] mjones01 opened #52 "NEONInc link at top of NEONDataSkills page broken"
On main NEONdataskills.org page, the link back to NEONinc.org is broken.  Current link is neoninc.org and code needs to change to www.neoninc.org.
I'm happy to change but I can't find the file that contains this code.

[2015-12-08 18:27] lwasser commented on #52
Weird. It works for me.
I will have a look.
Leah

Please excuse any typos - sent from my Android.

-----Original Message-----
From: Megan A. Jones [notifications@github.com]
Received: Tuesday, 08 Dec 2015, 11:07
To: NEONInc/NEON-Data-Skills [NEON-Data-Skills@noreply.github.com]
Subject: [NEON-Data-Skills] NEONInc link at top of NEONDataSkills page broken (#52)

On main NEONdataskills.org page, the

[2015-12-08 18:29] mjones01 commented on #52
Interesting.  It works from my phone (Android) but not PC or Mac laptops.

[2015-12-08 18:32] coolinwilliams commented on #52
Works for me from chrome and Firefox.

Colin

From: Leah Wasser [mailto:notifications@github.com]
Sent: Tuesday, December 08, 2015 11:27 AM
To: NEONInc/NEON-Data-Skills
Subject: Re: [NEON-Data-Skills] NEONInc link at top of NEONDataSkills page broken (#52)

Weird. It works for me.
I will have a look.
Leah

Please excuse any typos - sent from my Android.

-----Original Message-----
From: Megan A. J

[2015-12-08 18:34] lwasser commented on #52
I just made a change to the config file. Sometimes the .neoninc.org redirects and sometimes it doesnt.

See if it works after refreshing. It works on my phone. I'm at the vet w my pup now :)
Leah

Please excuse any typos - sent from my Android.

-----Original Message-----
From: colin williams [notifications@github.com]
Received: Tuesday, 08 Dec 2015, 11:32
To: NEONInc/NEON-Data-Skills [NEON-Data-S

[2015-12-08 18:35] mjones01 commented on #52
Works on my Mac laptop and phone now!  Thanks.

[2015-12-28 16:29] lwasser opened #53 "Where do people start"
Community Feedback:
"My one problem is there's no real guidance on recommended order (if there is one). I'm not really sure where to get started or if there is even any sort of linear path through all of the lessons.  It might benefit from a "start here", especially for those that are new to all of the topics."

---

We need to address the use case of those coming to the site who don't necessarily

[2015-12-28 16:40] lwasser commented on #53
Another comment - when we are holding workshops, etc! We should have a calendar page or something with upcoming events.

[2016-01-20 22:30] lwasser opened #55 "Build Error - Set Working Directory Page"
Hi @mjones01
I'm working on this site and there is a build error in a page that you pushed. I think some of the includes may be incorrect. Please fix, build locally to test that things are working, then submit a PR for me to review.
Specific Error:
[code]
Build errors mean that new content added to the site will not render.
Don't worry about this - this week - focus on the teacher training.
Please

[2016-01-26 18:55] mjones01 commented on #52
Closing issue as it now appears to work from PC & Mac in Chrome and Firefox and Mobile Android platforms.

[2016-01-26 18:55] #52 closed

[2016-01-26 20:27] mjones01 commented on #55
@lwasser
1) The issue is about the _include files. This lesson uses the _data_Met-Time-Series.html file.   None of the Spatio-Temporal series data download _include files are in the Data Skills repo.  The lesson built fine when I temporarily moved it to the raster repo and built locally.  Are we ready to transfer them across from the template repo?

2) Alternatively this could be replaced with a d

[2016-01-26 20:31] lwasser commented on #55
Hi @mjones01 . Please move this lesson to the data lesson development repository for the time being. Let's fix it first, then move it to NDS. Next steps.

1. Revert the merge where you submitted the file - missing include files will break Jekyll builds
2. Create a PR to add it to the NEON Data lesson Development repo.
3. Create an issue to review the lesson and assign it to me in the data lesson d

[2016-01-26 20:33] lwasser opened #56 "HDF5 Hyperspectral Lesson - Subset doesn't match our distribution"
See comments:
http://neondataskills.org/HDF5/Imaging-Spectroscopy-HDF5-In-R/#comment-2479441671

The data subset is an OLDER version of the H5 file. Thus the code is not helping our user community. We need to
1. Ask josh to create a new subset that exactly mimicks the H5 file format we are distributing now.
2. redo this lesson to match our current format.

[2016-01-26 20:34] mjones01 commented on #55
@lwasser  Lesson Development repo also does not have the Download Data _include files.  Do you want me to add them at this time?  Or just add the single _include for this lesson.

[2016-01-26 20:46] mjones01 commented on #55
* Removed from Data Skills repo (https://github.com/NEONInc/NEON-Data-Skills/pull/57)
* Added to Lesson Development repo (https://github.com/NEONInc/NEON-DataSkills-Lesson-Development/pull/9)

close issue

[2016-01-27 00:40] #55 closed

[2016-01-27 00:41] lwasser commented on #50
I propose we disable cheatsheets for the time being. they are too hard to curate and the page isn't rendering properly. @mjones01 sound ok?

[2016-01-27 16:29] mjones01 commented on #50
Sounds good.  For now let's keep a list of them (gDoc in ? folder), so the information isn't lost.

[2016-01-27 16:41] chayadecacao commented on #50
yup! i am not going to delete them. i'm just going to disable all public
links to them!

leah

On Wed, Jan 27, 2016 at 9:29 AM, Megan A. Jones <notifications@github.com>
wrote:

[2016-02-11 02:50] lwasser opened #58 "check out links on hyperspectral h5 page"
HDF5 hyperspectral lesson -- look at the last commit. we may need to adjust some of these links but should wait until we have the new file structure in place!

[2016-02-25 20:20] lwasser opened #61 "Set working Dir Lesson is Live - Please review"
Ok - this is (*i think*) the most current version. Please review. if it looks OK, close the issue!
We are done with the lesson for now :) @mjones01

http://neondataskills.org/R/Set-Working-Directory

[2016-02-25 20:23] lwasser opened #62 "Cleanup Activities"
1. Remove / delete the following files

A       org/category/coding-and-informatics.md
A       org/category/remote-sensing.md
A       org/tag/Data-Workshops.md
A       org/tag/Workshop-Trials.md
A       index copy.md

Remove all files in this dir (put into the less development repo for the time being.

_posts/IGNORE-FOR-NOW-cheatSheets

[2016-02-25 20:30] lwasser commented on #62
complete!

[2016-02-25 20:30] #62 closed

[2016-02-25 22:44] mjones01 commented on #61
Looks good. And the links from the other lessons work (well the 3 I tried).  Closing.

[2016-02-25 22:45] mjones01 commented on #61
Actually, I can't close this one.

[2016-02-26 16:41] lwasser commented on #61
Ok I'll check out your permissions for the repo! Closing this in the meantime

[2016-02-26 16:41] #61 closed

[2016-04-27 18:48] mjones01 opened #64 "NEON,Inc (and old emails/twitter) changed throughout website"
Twitter: @NEON_sci
website: www.neonscience.org
and text that still says NEON,Inc

This is very true on the workshop pages.

[2016-05-24 22:49] mjones01 opened #65 "Knitr Script: Fix extension in filename quirk"
The knitr scripts throughout the repo(s) need to have the `rmd.files <-` object code changed (~line 96).
Change to:

`rmd.files <- list.files(file.path(gitRepoPath, postsDir), pattern="\\.Rmd$", full.names = TRUE )`

it is currently `pattern=*.Rmd`.

The problem is that any time a file with Rmd in the file name (not extension; e.g. 2016-06-10-Rmd03-RMarkdown.md) is in a folder that is being knit i

[2016-05-27 19:05] mjones01 opened #66 "Institute Page needs updating"
http://neondataskills.org/workshop-event/NEON-Work-With-Data-Insitute-2016

* name change -> to NEON Data Institute
*  Incorrect formatting on last line of list
* Broken link for more information @ bottom of page: link to neonscience -> http://www.neonscience.org/learn-experience/work-data-institute
* Do we want to add link for the Data Institute webpage?

[2016-07-22 19:23] neondataskills commented on #66
Fixed in PR https://github.com/NEONInc/NEON-Data-Skills/pull/68

[2016-08-17 16:59] #66 closed

[2016-10-20 23:46] neondataskills commented on #65
Done with new RMD2R file

[2016-10-20 23:46] #65 closed

[2016-10-20 23:46] #50 closed

[2016-10-20 23:47] neondataskills commented on #36
Done

[2016-10-20 23:47] #36 closed

[2016-10-20 23:49] neondataskills commented on #34
Appears to be done.

[2016-10-20 23:49] #34 closed

[2016-10-20 23:49] #7 closed

[2016-10-20 23:51] neondataskills commented on #9
@lwasser Do these powerpoints exist?  I'm happy to post if they do, but I don't anything that seem appropriate on the N Drive.

[2016-10-20 23:54] neondataskills commented on #15
This is now addressed in the intro to raster series (http://neondataskills.org/tutorial-series/raster-data-series/). It is unclear which lesson was originally referred to as the link is broken and none of the LiDAR tutorials have a similar URL.

[2016-10-20 23:54] #15 closed

[2016-10-20 23:55] neondataskills commented on #20
This change has been made at some point in the past.

[2016-10-20 23:55] #20 closed

[2016-10-20 23:56] #21 closed

[2016-10-20 23:59] neondataskills commented on #22
Not yet addressed. This tutorial: http://neondataskills.org/HDF5/Create-HDF5-In-R/

[2016-10-21 00:02] neondataskills commented on #30
This was fixed at sometime in the past.

[2016-10-21 00:02] #30 closed

[2016-10-21 00:11] neondataskills commented on #35
This appears to have been corrected in the lesson: http://neondataskills.org/HDF5/TimeSeries-Data-In-HDF5-Using-R/

[2016-10-21 00:11] #35 closed

[2016-11-03 18:21] mjones01 commented on #64
Done.  I've left the affiliation for instructors at past events as NEON,Inc as that was there affiliation at the time and some were never Battelle or Battelle Ecology employees.

[2016-11-03 18:21] #64 closed

[2016-11-03 18:25] mjones01 commented on #38
[This](http://neondataskills.org/HDF5/About-Hyperspectral-Remote-Sensing-Data/#full-width-half-max-fwhm) appears to have been fixed at some point.  Closing this Issue.

[2016-11-03 18:25] #38 closed

[2016-11-03 18:29] mjones01 commented on #37
The formatting issue has been fixed.  I'm leaving the title as is since the page has been live for >18 months and GREPL is in the lesson.

[2016-11-03 18:29] #37 closed

[2016-11-29 15:57] mjones01 opened #92 "meters issue is Raster 01"
See this issue in Data Carpentry repo: https://github.com/datacarpentry/NEON-R-Spatial-Raster/issues/86

[2016-11-30 14:42] mjones01 opened #93 "Interactive maps?"
From a user comment about making maps interactive:

This isn't the goal of the current lessons, but could be incorporated into future lessons.

[2017-06-12 22:38] mjones01 opened #171 "Update Tutorials to Match New NEON Data"
Many of these tutorials are built on data using older NEON file structures.
Options:

* update the associated data and the tutorial to match current file structures as they should now be (more) stable.
* make notes at the top of each tutorial for which structure no longer matches the data on data.neonscience.org
* do nothing.

[2017-09-01 22:19] mjones01 commented on #28
This will be resolved upon the transition of the content to NEONScience.org/resources/ .  Can close issue when that is complete.

[2017-09-25 22:45] mjones01 commented on #53
Closing this issue as it will be addressed with the move to NEONScience.org.

[2017-09-25 22:45] #53 closed

[2017-09-25 22:48] mjones01 commented on #43
It appears that these comments have been addressed at some point in the past.  Closing issue.

[2017-09-25 22:48] #43 closed

[2017-12-08 21:18] #8 closed

[2017-12-08 21:18] neondataskills commented on #8
See tutorial: http://www.neonscience.org/da-viz-neon-lidar-co13flood-R

[2017-12-08 21:20] neondataskills commented on #9
Closing. This is covered in the associated YouTube videos on Data Institute pages.  The mentioned PPTs have not been found.

[2017-12-08 21:20] #9 closed

[2017-12-08 21:21] neondataskills commented on #10
See OS/IS series with pheno data.  http://www.neonscience.org/osis-pheno-temp-series
Other organismal data tutorials in the works.  Closing Issue.

[2017-12-08 21:21] #10 closed

[2017-12-08 21:51] #58 closed

[2018-07-10 16:11] mjones01 commented on #28
No longer an issue with the deleting of the website and CNAME file.

[2018-07-10 16:11] #28 closed

[2018-10-19 03:10] matthewfeickert opened #405 "Add interactive example with Binder"
This Issue is migrated from [NEONScience/NEON-utilities Issue #43](https://github.com/NEONScience/NEON-utilities/issues/43).

[2018-10-19 03:29] matthewfeickert commented on #405
@cklunch @chrlaney To get the  "[Use the neonUtilities Package to Access NEON Data](https://www.neonscience.org/neonDataStackR)" example usefully interactive in Binder the specific data used in the example is needed. In the [Rmd](https://github.com/NEONScience/NEON-Data-Skills/blob/master/tutorials/R/neonUtilities/neonUtilities.Rmd#L92-L97) though it mentions that

however data isn't introduced un

[2018-10-19 13:40] cklunch commented on #405
Many of our users download data from the [Data Portal](http://data.neonscience.org), instead of using the API or zipsByProduct(), and the tutorial is intended to serve those users as well. If you download any amount of [Single aspirated air temperature](http://data.neonscience.org/data-product-view?dpCode=DP1.00002.001) data from the portal, you'll get a zip file with the appropriate name. But if

[2018-10-19 14:04] matthewfeickert commented on #405
Okay great. The example doesn't say where this `NEON_temp-air-single.zip` came from (it just is referenced) so downloading with `wget` can just be added into the example.

No, showing multiple ways to get data is useful and since any example should be runnable from start to finish that will be important to keep in.

At the moment, in PR #406 I'm just using [`nbrmd`](https://github.com/mwouts/jupyt

[2018-10-22 17:38] cklunch commented on #405
Thanks so much for putting this together!

I see what you mean, it's a little confusing to have the output render as an executable cell. Is there a change I could make in the Rmd that would fix the problem? We have some standards we have to follow to get the correct rendering on NEON Data Skills, but if it's possible to make a single source file that works for both purposes, I'm very happy to make

[2019-09-13 18:55] mhalubok opened #440 "No "subset_clean_refl" function in NEON AOP HDF5 Python Functions"
Hi @bridgethass,

I have tried a tutorial on NDVI [calculation ](https://www.neonscience.org/calc-ndvi-py), and apparently it would not run correctly due to the absence of the function named "subset_clean_refl" in the neon_aop_refl_hdf5_functions.py file.

I believe something like that should be added:

def subset_clean_refl(reflArray,reflArray_metadata,clipIndex):

    reflCleaned = reflArray[cli

[2020-02-20 22:23] KathleenRuth opened #455 "Join function in pheno-time series tutorial"
Hello,

I'm coming up with this warning message when I try to join data frames. I don't know what this means or if the command was successful..

Joining, by = c("namedLocation", "domainID", "siteID", "plotID", "individualID")
Warning messages:
1: Column `namedLocation` joining character vector and factor, coercing into character vector
2: Column `domainID` joining character vector and factor, coer

[2020-02-21 16:57] gklarenberg commented on #455
The warning message seems to imply that the variables are characters in one dataframe, and vectors in the other. When joining, they're all forced to be characters in the new dataframe.
So it seems the joining went fine, but if you want to get rid of the warning, check what data type those variables are in the dataframes you're merging.

[2020-03-03 22:45] mjones01 commented on #56
@donal-at-NEON - this will up corrected when the current PRs are merged, yes?

[2020-03-03 22:47] mjones01 commented on #440
@bridgethass - Hi, I know you've been working on some updates, is this one on your radar?

[2020-03-03 22:49] donal-at-NEON commented on #56
Yes, this issue should be resolved once the PR is merged.

[2020-11-17 19:37] KathleenRuth opened #591 "Global Environment Disapeared"
I'm not sure I'm leaving this in the correct spot but my global environment disappeared & the subsequent data sets show as "object no longer exists"

I tried reloading my ".RData" file into my workspace but that hasn't yielded anything. See below:

[Workspace loaded from ~/School/Research/RMNP Phenology Temp/RMNP Gymno Phenology Temp/.RData]

I was in the process of working through the below code

[2020-11-19 15:42] donal-at-NEON commented on #591
Hi @KathleenRuth , thank you for your message. I am happy to see that you are working with NEON data, and will be happy to help resolve this issue. I have conferred with my colleague, @cklunch, and we have not been able to reproduce this error. Could you try it again to see if you can replicate? Let us know how it goes, and if warranted, I will be happy to meet with you to see if we can troublesho

[2022-02-01 15:48] natalie-robinson opened #610 "curly bracket placement issue for automated script testing"
@cklunch, can you move the opening curly bracket for a function onto the same line as the function call, as described below? My automated testing script needs to identify functions and this is very difficult if the curly bracket is not on the same line as the call.

Thank you!

File: ~tutorials/R/Geospatial-skills/primer-raster-r/Creating-Square-Plot-Boundaries-From-Centroids-in-R/Creating-Square-

[2022-02-01 16:08] cklunch commented on #610
@natalie-robinson Happy to, this is an easy change and I can see it would help. Is the example above the only instance where it's happening, or are there more?

I might just go in and change it manually, depending on how common this is.

[2022-02-01 16:15] natalie-robinson commented on #610
@cklunch - I don't know how common yet, but will keep you posted as I work through more of the files. My suspicion is this isn't that common!

[2022-02-01 16:43] cklunch commented on #610
@natalie-robinson OK cool. Updated for the tutorial you identified!

[2022-02-01 16:43] #610 closed

[2022-02-02 14:37] natalie-robinson opened #612 "Errors in file tutorials/R/biodiversity/aquatic-macroinvertebrates/02_ecocomDP_workflow_with_NEON_algae/02_ecocomDP_workflow_with_NEON_algae.R"
As part of automated testing, the following errors were found (some of these are because of function overrides due to the order in which packages were loaded in my environment, but this will occur for other users as well):

Lines: 45; 48;51; 54-56; 87
  - return NULL

Lines: 87-90; 92-94; 103
  - return "... $ operator is invalid for atomic vectors".
  - To fix this, remove "[[1]]"

Line 145
  - r

[2022-02-02 15:02] cklunch commented on #612
@sokole

[2022-02-02 17:46] natalie-robinson opened #613 "Error with file download: tutorial ~R/AIS-data/AIS-QF-tutorial/download-NEON-AIS-data/download-NEON-AIS-data.R"
The API download call on line 22 is returning:

NEON.D11.PRIN.DP1.20288.001.2020-02.expanded.20220120T173946Z.RELEASE-2022.zip could not be downloaded. Re-attempting.

NEON.D11.PRIN.DP1.20288.001.2020-02.expanded.20220120T173946Z.RELEASE-2022.zip could not be downloaded. URLs may have expired. Refreshing URL list.

Refresh did not solve the isse. URL query for file NEON.D11.PRIN.DP1.20288.001.2020

[2022-02-02 18:49] cklunch commented on #613
@glitt13 @bhensley0440

[2022-02-02 18:53] cklunch commented on #613
@natalie-robinson This error is about the .zip files, which we don't use anymore, so it may not be the tutorial that's the issue. What version of neonUtilities are you testing with? Should be 2.1.3 now.

[2022-02-09 22:11] natalie-robinson opened #614 "Issue with file ~tutorials\R\biodiversity\aquatic-macroinvertebrates\01_working_with_NEON_macroinverts"
Line 507 produces:

Error: no loop for break/next, jumping to top level
In addition: Warning messages:
1: In distfun(comm, method = distance, ...) :
  you have empty rows: their dissimilarities may be meaningless in method “bray”
2: In distfun(comm, method = distance, ...) : missing values in results

[2022-02-11 16:04] cklunch commented on #613
@natalie-robinson I'm not able to replicate the error. Is it still happening on your end?

[2022-02-17 00:38] cklunch commented on #613
@natalie-robinson @glitt13 @bhensley0440
Eric ran into this same problem in a different context, and we determined it's because of the token in the function call. If you don't have an environment variable with that name, it returns an empty string, which the NEON API doesn't like. If you give the API an invalid token, it treats the request as if there is no token, but an empty string fails.

I'll

[2022-03-25 13:33] gklarenberg opened #615 "neonUtilities in Python: suppress R warnings"
In the tutorial on using neonUtilities in Python, there is a code block for suppressing R warnings:
[code]
This doesn't work (anymore). It returns the error: `cannot import name 'set_writeconsole_warnerror' from 'rpy2.rinterface' (//anaconda3/lib/python3.7/site-packages/rpy2/rinterface.py)`.

I used the following code to suppress warnings:
[code]

System details:
MacOS Mojave 10.14.6
Python 3.7.3

[2022-03-25 13:52] cklunch commented on #615
@gklarenberg Thanks Geraldine! Updating this tutorial is already on my list, so this is super helpful.

[2022-03-25 14:54] gklarenberg opened #616 "HDF5 in HDFView vs R - dimension confusion"
Not sure if this is something that can be solved, but maybe mention can be made of this in the HDFView and/or HDF5 and R tutorials: HDFView shows the dimensions in a different order than R.

For the file NEONDSImagingSpectrometerData.h5 it shows 426 x 501 x 477 (wavelength, line, sample) in HDFView, and you need to select dim1 and dim2 to get a proper picture - as the tutorial indicates. However i

[2022-04-04 21:33] cklunch commented on #615
@gklarenberg Thanks for this tip! Do you run this along with `rpy2` to get it to work correctly, or is this an alternative setup that enables the same behavior as `rpy2`?

[2022-04-06 22:30] cklunch commented on #615
The tutorial for using neonUtilities in Python has been updated. https://www.neonscience.org/resources/learning-hub/tutorials/neon-utilities-python

[2022-04-06 22:30] #615 closed

[2022-04-07 14:21] gklarenberg commented on #615
@cklunch I installed rpy with `pip install rpy` but I couldn't get `rpy` loaded in jupyter properly. The first line, `import rpy` worked fine, but then `import rpy2.robjects as robjects` threw an error. It kept complaining it could not find my `R_HOME`, and told me to run `python -m rpy2.situation` in the command line - which indeed told me there was no "connection" (or whatever?) to `R_HOME`. R w

[2022-08-15 12:38] #19 closed

[2022-08-15 12:38] #22 closed

[2022-08-15 12:39] #23 closed

[2022-08-15 12:40] cklunch commented on #42
@natalie-robinson I'm closing old issues that have been OBE. Can you let me know if this one is still relevant, and link to the lesson if it is?

[2022-08-15 12:40] #45 closed

[2022-08-15 12:41] #56 closed

[2022-08-15 12:43] #92 closed

[2022-08-15 12:45] cklunch commented on #171
Donal wrapped up remote sensing data format updates, I think we're all good here.

[2022-08-15 12:45] #171 closed

[2022-08-15 12:47] cklunch commented on #440
@bhass-neon Checking in on stale issues, comment here if this is resolved. Thanks!

[2022-08-15 12:47] #455 closed

[2022-08-15 12:48] #591 closed

[2022-08-15 12:48] cklunch commented on #612
@sokole Checking in on stale issues. Was this resolved in the PR you just submitted?

[2022-08-15 12:50] cklunch commented on #613
Update to neonUtilities 2.1.4 included smooth handling for this situation. But also, don't reference environment variables that don't exist.

[2022-08-15 12:50] #613 closed

[2022-08-15 12:51] cklunch commented on #614
@sokole Checking in on stale issues. Was this resolved in the PR you just submitted?

[2022-08-15 12:52] cklunch commented on #616
@bhass-neon Can you take a look at this? Should be a simple update to add a bit more explanation.

[2022-08-15 13:01] bhass-neon commented on #616
@cklunch yes the dimensions are not always in the same order, I can explain. I can't see if this is referring to a specific lesson though? Not totally sure what needs to be updated. I'll search GitHub for that code snippet.

[2022-08-15 13:12] bhass-neon commented on #440
@cklunch The link to that lesson no longer works, but if I'm recalling correctly, I think that may have been from the first RSDI where we used flightline (L2) data, and we decided just to keep the lessons that work with tiled (L3) data (since the lessons are pretty redundant and the smaller tile data is easier for teaching). I probably should go through all the RSDI python lessons though, since I

[2022-08-15 17:00] Aariq opened #632 "Use `left_join()` `by` and `suffix` args instead of renaming columns manually."
https://github.com/NEONScience/NEON-Data-Skills/blob/e59c9c2ba55dbcc67ae3f37d80bbbf39c9e914e5/tutorials/R/biodiversity/neon-phenology-temp/01-explore-phenology-data/01-explore-phenology-data.R#L113-L121

Instead of renaming columns manually before `left_join()`ing, you can do something like this:

[code]

This will add the suffix "_stat" to any duplicate column names not in the vector supplied to

[2022-08-15 21:52] cklunch commented on #632
@Aariq Thanks for the suggestion! For tutorials, it often makes sense to do tasks separately even if it's possible to combine them, so the process and the steps are clearer to the student. I'll leave it up to @kjones13 whether to make this change.

[2022-08-16 02:13] Aariq commented on #632
Yeah, I totally get that.  I just felt to me like it would make more sense to explain that you want to join by certain columns rather than that you want to avoid certain columns when joining.

[2022-08-19 01:10] kjones13 commented on #632
Hi @Aariq, this is very clean code, and I really I appreciate the suggestion. In this instance, the intent in this step was to be explicit about acknowledging the fieldnames the two data frames have in common and intentionally renaming the fields before joining, as part of the data exploration step.